<p>genres works!</p>
<app-table-pagination
  [query]="query"
  [context]="context"
  [include]="include"
  [itemsPage]="itemsPage"
  [dataList]="dataList"
  [tableColumns]="columns"
  [load]="load"
  [filterActiveValues]="filterActiveValues"
  (manageItem)="takeAction($event)"
  (loadChild)="takeLoad($event)"
></app-table-pagination>

<!-- REGISTER -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Genre registration</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="modal-body">
      <p>Fill in the form to register genre.</p>
      <hr />

      <label for="name"><b>Name</b></label>
      <input
        type="text"
        placeholder="Enter name"
        name="name"
        formControlName="name"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && getControlRegister.name.errors
        }"
        required
      />
      <div
        *ngIf="submitted && getControlRegister.name.errors"
        class="invalid-feedback"
      >
        <div *ngIf="getControlRegister.name.errors.required">
          Name is required
        </div>
      </div>
      <br />
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</ng-template>

<!-- UPDATE -->
<ng-template #contentUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Genre</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <form [formGroup]="updateForm" (ngSubmit)="update()">
    <div class="modal-body">
      <p>Fill in the form to update genre.</p>
      <hr />

      <label for="name"><b>Name</b></label>
      <input
        type="text"
        placeholder="Enter name"
        name="name"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && getControlUpdate.name.errors }"
        required
      />
      <div
        *ngIf="submitted && getControlUpdate.name.errors"
        class="invalid-feedback"
      >
        <div *ngIf="getControlUpdate.name.errors.required">
          Name is required
        </div>
      </div>
      <br />
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</ng-template>

<!-- INFORMATION -->
<ng-template #contentInformation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Information Genre</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <form>
    <div class="modal-body">
      <p>Fill in the form to register your user account.</p>
      <hr />

      <label for="name"><b>Nombre</b></label>
      <input
        type="text"
        placeholder="Enter name"
        name="name"
        class="form-control"
        [value]="this.genreInformation.name"
        readonly
      />

      <br />
    </div>

    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-secondary"
        (click)="editTransition()"
      >
        <i class="fas fa-edit"></i>Edit
      </button>
      <button
        type="submit"
        class="btn btn-danger"
        (click)="unblockTransition()"
      >
        <span *ngIf="genreInformation.active === false; else genreBlockIcon">
          <i class="fas fa-lock-open"></i>&nbsp;Unblock
        </span>
        <ng-template #genreBlockIcon>
          <i class="fas fa-lock"></i>&nbsp;Block
        </ng-template>
      </button>
    </div>
  </form>
</ng-template>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos
sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati
dignissimos, modi voluptate inventore officiis vero! Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam
reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi
voluptate inventore officiis vero! Lorem ipsum dolor sit amet, consectetur
adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae
provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore
officiis vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt
harum ex obcaecati dignissimos, modi voluptate inventore officiis vero! Lorem
ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed
sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati
dignissimos, modi voluptate inventore officiis vero! Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam
reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi
voluptate inventore officiis vero! Lorem ipsum dolor sit amet, consectetur
adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae
provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore
officiis vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt
harum ex obcaecati dignissimos, modi voluptate inventore officiis vero! Lorem
ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed
sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati
dignissimos, modi voluptate inventore officiis vero! Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam
reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi
voluptate inventore officiis vero! Lorem ipsum dolor sit amet, consectetur
adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae
provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore
officiis vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt
harum ex obcaecati dignissimos, modi voluptate inventore officiis vero! Lorem
ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed
sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati
dignissimos, modi voluptate inventore officiis vero! Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam
reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi
voluptate inventore officiis vero!
