<p>genres works!</p>
<app-table-pagination
  [query]="query"
  [context]="context"
  [include]="include"
  [itemsPage]="itemsPage"
  [dataList]="dataList"
  [tableColumns]="columns"
></app-table-pagination>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga id nisi eos sed sequi, aliquam reprehenderit quae provident alias sunt harum ex obcaecati dignissimos, modi voluptate inventore officiis vero!
