<button
  class="btn btn-success me-3 mb-2 float-end"
  (click)="manageAction('add', '')"
>
  <i class="fas fa-plus-circle"></i>&nbsp;Add
</button>
<select
  class="form-select me-3 mb-2 float-end"
  style="width: auto; height: fit-content"
  [(ngModel)]="filterActiveValues"
  (ngModelChange)="changeActiveStatus($event)"
>
  <option
    *ngFor="let activeFilter of allowActiveFilter"
    [ngValue]="activeFilter"
  >
    {{ activeFilter | titlecase }}
  </option>
</select>
<br /><br />
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of tableColumns">
          {{ column.label }}
        </th>
        <th scope="col">Manage information</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data$ | async">
        <td *ngFor="let value of tableColumns">
          <span *ngIf="value.property !== 'active'; else activeValue">
            {{ data[value.property] }}
          </span>
          <ng-template #activeValue>
            <span *ngIf="data[value.property] === true">
              <i class="fas fa-check-circle"></i>
            </span>
            <span *ngIf="data[value.property] !== true">
              <i class="fas fa-times-circle"></i>
            </span>
          </ng-template>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="manageAction('edit', data)"
          >
            <i class="fas fa-edit"></i></button
          >&nbsp;
          <button
            type="button"
            class="btn btn-info"
            (click)="manageAction('info', data)"
          >
            <i class="fas fa-info"></i></button
          >&nbsp;
          <button
            type="button"
            class="btn btn-danger"
            (click)="manageAction('block', data)"
            *ngIf="data['active'] !== false; else unblockButton"
          >
            <i class="fas fa-lock"></i>
          </button>
          <ng-template #unblockButton>
            <button
              type="button"
              class="btn btn-danger"
              (click)="manageAction('unblock', data)"
            >
              <i class="fas fa-lock-open"></i>
            </button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="total"
    [(page)]="page"
    (pageChange)="changePage($event)"
    [pageSize]="itemsPage"
  >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto; height: fit-content"
    [(ngModel)]="itemsPage"
    (ngModelChange)="changeItemPage($event)"
  >
    <option *ngFor="let item of allowPageItems" [ngValue]="item">
      {{ item }} items per page
    </option>
  </select>
</div>
